NEXT_ANALYZE = true
NEXT_PUBLIC_BASE_API_URL = https://dev.api.levante.su
NEXT_PUBLIC_ROUTE_KEY = eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImY3MTFhMzdhZjE3NDQ0YThiZmNjYTcyY2VhZGU4MmQ0IiwiaCI6Im11cm11cjY0In0=