@theme {
  /*real primrary colors */
  --color-error-main: #ff3d3e;
  --color-success-main: #00b735;
  --color-warning-main: #fad100;
  --color-tag-orange: #cd7800;

  --color-brand-primary-1: #0e7f93;
  --color-brand-secondary-1: #00c6c9;
  --color-brand-primary-2: #ff7aa3;
  --color-brand-secondary-2: #4d4d4d;
  --color-text-primary-1: #101010;
  --color-button-pressed: #049fa2;
  --color-brand-primary-disable: #00c6c966;
  --color-text-button-disable: #4d4d4d52;
  --color-default-button-border: #747775;
  --color-light-theme-bg: #111111;
  --color-link: #0882c0;
  --color-boder-inputs: #4d4d4d1f;

  --radius-primary-button: 32px;

  --shadow-back-button: 0px 2px 8px 2px rgba(77, 77, 77, 0.04);
  --shadow-capsule-segmentd: 0px 0px 2.5px 0px rgba(87, 99, 101, 0.24);
}
